server:
  port: 3100

spring:
  application:
    name: config-server

  profiles:
    active: git

  cloud:
    config:
      server:
        native:
          search-locations: 'file:///C:\Users\Gram17\msa\project-configs'
        git:
          uri: https://github.com/MJakeKwon/project-configs
          default-label: main
          search-paths:
            - configs/common
            - configs/{application}/{profile}
            - configs/{application}


eureka:
  instance:
    prefer-ip-address: false
    hostname: localhost

  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:3150/eureka/